/*
  WIN CAT STYLES
  © 2026 ООО «MurCoda»
  © 2026 FelineAPI
*/
:root {
  --wincat-accent: #90FF90;
  --wincat-shadow: 0 10px 24px rgba(0, 0, 0, 0.4);
  .wincat-content-light {
    --wincat-bg: #0f0f12;
  }
  .wincat-content-dark {
    --wincat-bg: #f5f7fa;
  }
}
